.best-gift{
	background-color: #fff;
	padding: 50px 0 65px;
	margin: 75px 0 115px;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		top: -50px;
		left: 0;
		background-image: url("../img/content_block_snowborder_top.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 115px;
	}
	&:after{
		content: '';
		position: absolute;
		bottom: -50px;
		left: 0;
		background-image: url("../img/content_block_snowborder_bottom.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 115px;
		z-index: 10;
	}
	&__title {
		font-family: PT Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 47px;
		text-align: center;
		color: #2960A5;
		position: relative;
		margin-bottom: 20px;
		&:before{
			content: '';
			position: absolute;
			top: -115px;
			left: 80%;
			transform: translate(-50%,0);
			background-image: url("../img/naryadite-yelku-newyear2022/star_element.svg");
			background-position: center;
			background-repeat: no-repeat;
			width: 115px;
			height: 114px;
		}
		a {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate(0, -50%);
		}
	}
	&__body{
		display: grid;
		grid-template-columns: repeat(auto-fit,minmax(150px, 275px));
		grid-gap: 5px;
		justify-content: space-between;
	}
	&__item{
		text-align: center;
		text-decoration: none;
		display: block;
		p{
			font-family: PT Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 26px;
			text-align: center;
			color: #000000;
		}
	}
	&__btn{
		display: flex;
		align-items: center;
		width: fit-content;
		font-weight: 400;
		text-align: center;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-color: transparent;
		border: 1px solid #fd7400;
		padding: .35rem .75rem;
		font-size: 1rem;
		line-height: 1.5;
		border-radius: 3px;
		transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
		color: #fd7400;
		margin: 50px auto 0;
		img {
			margin-right: 10px;
			vertical-align: baseline;
		}
	}
	@include r(767){
		&__title {
			font-size: 24px;
			line-height: 31px;
			a {
				display: none;
			}
		}
		&__body{
			grid-template-columns: 1fr 1fr;
		}
	}
}