.filter-garland{
	margin-bottom: 100px;
	&__title {
		font-family: PT Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 47px;
		text-align: center;
		color: #FFFFFF;
		position: relative;
		margin-bottom: 15px;
		&--slider{
			color: #2960A5;
		}
		a {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate(0, -50%);
		}
	}
	&__slider{
		background-color: #fff;
		border-radius: 20px;
		padding: 40px  40px 20px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: -30px;
			left: 50%;
			transform: translate(-50%,0);
			background-image: url("../img/naryadite-yelku-newyear2022/block_arrow.svg");
			background-size: 100%;
			background-repeat: no-repeat;
			width: 60px;
			height: 30px;
		}
	}
	&__filter{
		display: grid;
		grid-gap: 30px;
		grid-template-columns: 1fr 1fr;
		justify-content: space-between;
		margin: 0 0 30px;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			top: 0;
			right: -300px;
			background-image: url("../img/naryadite-yelku-newyear2022/block2_back_element.svg");
			background-repeat: no-repeat;
			background-size: 100%;
			width: 319px;
			height: 267px;
			z-index: -1;
			pointer-events: none;
		}
	}
	&__img{
		img{
			max-width: 100%;
			height: auto;
		}
	}
	&__param{
		background-color: #fff;
		padding: 40px;
		border-radius: 20px;
		width: 100%;
	}
	&__param-row{
		display: grid;
		grid-template-columns: repeat(auto-fit,minmax(180px,240px));
		grid-gap: 20px;
		flex-wrap: wrap;

		justify-content: space-between;
	}
	&__param-column{
		column-count: 2;
	}
	&__param-name{
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		line-height: 28px;
		color: #333333;
		margin-bottom: 5px;
	}
	&__param-color{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		div{
			border-radius: 50%;
			overflow: hidden;
			width: 30px;
			height: 30px;
			margin-right: 10px;
			margin-bottom: 5px;
			background-color: #EEEEEE;
		}
	}
	&__btn{
		display: block;
		width: fit-content;
		padding: 15px 30px;
		margin: 0 auto;
		border: none;
		background: linear-gradient(180deg, #E9533A 0%, #CF4A33 100%);
		border-radius: 4px;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 21px;
		text-align: center;
		color: #FFFFFF;
	}
	label{
		margin-bottom: 0;
	}
	.swiper-garland-button-prev,
	.swiper-garland-button-next{
		position: absolute;
		top: calc(50% - 30px);
		transform: translate(0,-50%);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
		width: 50px;
		height: 50px;
		cursor: pointer;
	}
	.swiper-button-disabled{
		opacity: .5;
	}
	.swiper-garland-button-prev{
		left: -30px;
		background-image: url("../img/content_block_arrow_left_inactive.svg");
	}
	.swiper-garland-button-next{
		right: -30px;
		background-image: url("../img/content_block_arrow_right_inactive.svg");
	}
	.swiper-pagination {
		position: relative;
		bottom: 0;
		margin: 20px auto 0;
	}
	.swiper-pagination-bullet{
		background-color: #FD7400;
		vertical-align: middle;
	}
	.swiper-pagination-bullet-active{
		background-color: #FD7400;
		width: 10px;
		height: 10px;
	}
	@include r(1023){
		&__filter{
			grid-template-columns: 1fr;
			justify-content: space-between;
			margin: 0 0 40px;
		}
		&__img{
			display: none;
		}
	}
	@include r(767){
		&__title {
			font-size: 24px;
			line-height: 31px;
			a {
				display: none;
			}
		}

		&__slider{

			padding: 20px;

		}
	}
}