.header-banner{
  background-image: url("../img/main_banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 0;
  &__logo{
    text-align: center;
  }
  &__btn{
    display: block;
    text-align: center;
    margin: 0 auto;
    transition: all .3s ease;
    &:hover{
      opacity: .9;
      transition: all .3s ease;
    }
  }
  img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
  }
}