.slider-collection{
	margin-bottom: 60px;
	position: relative;
	background-image: url("../img/bottom_block_back_element.svg");
	background-size: contain;
	background-repeat: repeat-x;
	background-position: center;
	&__title {
		font-family: PT Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 47px;
		text-align: center;
		color: #FFFFFF;
		position: relative;
		margin-bottom: 15px;
		&:before{
			content: '';
			position: absolute;
			top: -115px;
			left: 40%;
			transform: translate(-50%,0);
			background-image: url("../img/naryadite-yelku-newyear2022/bottom_block_back_element.svg");
			background-repeat: no-repeat;
			background-size: 100%;
			width: 40px;
			height: 87px;
		}
		a {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate(0, -50%);
		}
	}

	&__img {
		position: relative;
		margin-bottom: 10px;
	}
	&__txt{
		padding-right: 30px;
		position: relative;
		margin: 5px 0;
	}
	&__arrow{
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
	}
	&__body{
		position: relative;
	}
	.swiper-wrapper{
	}
	.swiper-slide {
		background-color: #fff;
		padding: 10px;
		text-decoration: none;
		img {
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}
		p{
			font-size: 18px;
			line-height: 23px;
			color: #000;
			margin: 0;
		}
	}

	.swiper-collection-button-prev,
	.swiper-collection-button-next{
		position: absolute;
		top: calc(50% - 30px);
		transform: translate(0,-50%);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
		width: 50px;
		height: 50px;
		cursor: pointer;
	}
	.swiper-button-disabled{
		opacity: .5;
	}
	.swiper-collection-button-prev{
		left: -70px;
		background-image: url("../img/bottom_block_arrow_left_inactive.svg");
	}
	.swiper-collection-button-next{
		right: -70px;
		background-image: url("../img/bottom_block_arrow_right_inactive.svg");
	}
	.swiper-pagination {
		position: relative;
		bottom: 0;
		margin: 20px auto;
	}
	.swiper-pagination-bullet{
		background-color: #fff;
		vertical-align: middle;
	}
	.swiper-pagination-bullet-active{
		background-color: #fff;
		width: 10px;
		height: 10px;
	}
}